<form [formGroup]="form">
    <h1 style="text-align: center">CHANGE PASSWORD</h1>
    <div style="text-align: center">
        <mat-form-field appearance="fill">
            <mat-label>Enter old password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div style="text-align: center">
        <mat-form-field appearance="fill">
            <mat-label>Enter new password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div style="text-align: center">
        <mat-form-field appearance="fill">
            <mat-label>Repeat new password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPasswordRetyped" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    <div>
        <div class="col-xs-12 button-container">
            <button mat-raised-button class="mat-primary" [disabled]="!form.valid" (click)="changePassword()">Change
                password</button>
        </div>
        <br>
    </div>
</form>