<div class="register-form">
  <h1>REGISTER</h1>
  <form [formGroup]="form">
    <div style="text-align: center">
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="John" formControlName="nameCtrl" required>
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <mat-form-field appearance="fill">
        <mat-label>Enter your surname</mat-label>
        <input matInput placeholder="Doe" formControlName="surnameCtrl" required>
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="example@example.com" formControlName="emailCtrl" required>
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordCtrl" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordCtrl.hasError('pattern')">Password must have lowercase, uppercase and
          number!</mat-error>
      </mat-form-field>
    </div>
    <div class="action-buttons">
      <button mat-raised-button class="mat-primary" type="submit" (click)="onRegister()">Register</button>
    </div>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <div>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="register-question">
      <h2>Already have account? </h2>
      <a routerLink="/login">Log in here</a>
    </div>
  </div>
</div>
