<mat-card >
  <img *ngIf="certificate.type == 'ROOT'" src="../../../../assets/certificate-root-96.png" alt="Root certificate"/>
  <img *ngIf="certificate.type == 'INTERMEDIATE'" src="../../../../assets/certificate-ca-96.png"
       alt="Intermediate certificate"/>
  <img *ngIf="certificate.type == 'END'" src="../../../../assets/certificate-96.png" alt="End entity  certificate"/>
  <div class="info-div">
    <mat-card-title>{{certificate.subject}}</mat-card-title>
    <mat-card-subtitle>{{certificate.issuer}}</mat-card-subtitle>
    <mat-card-content>
      <div>
        Validity start date:
        <br/>
        Validity end date:
      </div>
      <div class="date-div">
        {{certificate.endDate | date: "mediumDate"}}
        <br/>
        {{certificate.startDate | date: "mediumDate"}}
      </div>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button mat-raised-button class="mat-warn certificate-actions" (click)="onRevoke()">
      <mat-icon>undo</mat-icon>
      Revoke
    </button>
    <button mat-raised-button class="mat-accent certificate-actions" (click)="onValidityCheck()">
      <mat-icon>check</mat-icon>
      Check validity
    </button>
    <button mat-raised-button class="mat-accent certificate-actions"
            (click)="onDownload()"><mat-icon>download</mat-icon> DOWNLOAD</button>
  </mat-card-actions>
</mat-card>
