<div class="content">
    <mat-grid-list cols="2" rowHeight="fit">
        <mat-grid-tile>
            <div class="welcome-text-container" *ngIf="isTokenValid && isSuccess">
                <h1>
                    THANK YOU FOR VALIDATING YOUR ACCOUNT.
                </h1>
                <h3>
                    You can now proceed to <a href="/login" style="color: #4BA7F9;">login page</a>.
                </h3>
            </div>
            
            <div class="welcome-text-container" *ngIf="!isTokenValid">
                <h1>
                    SORRY, IT SEEMS YOUR TOKEN IS UNVALID.
                </h1>
                <h3>
                    Go to <a href="/" style="color: #4BA7F9;">home page</a>.
                </h3>
            </div>
            <div class="welcome-text-container" *ngIf="!isSuccess && isTokenValid">
                <h1>
                    SORRY, IT SEEMS SOMETHING WENT WRONG.
                </h1>
                <h3>
                    Go to <a href="/" style="color: #4BA7F9;">home page</a>.
                </h3>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/lock.png" class="cdk-overlay-pane" alt="Lock image" />
        </mat-grid-tile>
    </mat-grid-list>
</div>