<div class="content">
  <mat-grid-list cols="2" rowHeight="fit" >
    <mat-grid-tile>
      <div class="welcome-text-container">
        <h1>
          SCALABLE, FLEXIBLE,
          SECURE—AND EASY
          TO MANAGE. IT’S PKI EVOLVED.
        </h1>
        <h3>
          Centrally manage every certificate, and easily
          secure and attach identity to all your systems,
          emails, documents, devices and users.
        </h3>
        <div>
          <button mat-raised-button class="mat-accent" routerLink="/register" *ngIf="!this.loggedInUser">Register</button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/lock.png"
           class="cdk-overlay-pane"
           alt="Lock image"/>
    </mat-grid-tile>
  </mat-grid-list>
</div>



