<form [formGroup]="form">
  <h1>LOGIN</h1>
    <div style="text-align: center">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="example@example.com" formControlName="email" required>
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
  <div>
    <div class="col-xs-12 button-container">
      <button mat-raised-button class="mat-primary" (click)="onLogin()" [disabled]="!form.valid">Log in</button>
    </div>
    <div class="register-question" style="margin-top: 50px;">
      <a routerLink="/account-recovery">Forgot your password?</a>
    </div>
    <div class="register-question" style="margin-top: 10px;">
      <a routerLink="">Login using email</a>
    </div>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="register-question">
      <h2>Don't have account yet? </h2>
      <a routerLink="/register">Create one here</a>
    </div>
  </div>
</form>

