<mat-card style="display: flex;justify-content: space-between;    align-items: center;">
  <img *ngIf="certificate.type == 'ROOT'" src="../../../assets/certificate-root-96.png"/>
  <img *ngIf="certificate.type == 'CA'" src="assets/certificate-ca-96.png"/>
  <img *ngIf="certificate.type == 'END'" src="assets/certificate-96.png"/>
  <div style="width: -webkit-fill-available; padding: 0 2em">
    <mat-card-title>{{certificate.subject}}</mat-card-title>
    <mat-card-subtitle>{{certificate.issuer}}</mat-card-subtitle>
    <mat-card-content style="display: flex">
      <div>
        Validity start date:
        <br/>
        Validity end date:
      </div>
      <div style="margin-left: 5px">
        {{certificate.validityPeriod.start | date: 'mediumDate'}}
        <br/>
        {{certificate.validityPeriod.end | date: 'mediumDate'}}
      </div>
    </mat-card-content>
  </div>
  <mat-card-actions>
    <button mat-raised-button class="mat-warn certificate-actions">
      <mat-icon>undo</mat-icon>
      Revoke
    </button>
    <button mat-raised-button class="mat-accent certificate-actions">
      <mat-icon>check</mat-icon>
      Check validity
    </button>
    <button mat-raised-button class="mat-accent certificate-actions"><mat-icon>download</mat-icon> DOWNLOAD</button>
  </mat-card-actions>
</mat-card>
