<mat-grid-list cols="2" rowHeight="3em"  >
<mat-grid-tile>
  <mat-form-field >
    <input type="text" matInput placeholder="Search.." [(ngModel)]="searchText" (keyup)="searchCertificate()"/>
  </mat-form-field>
</mat-grid-tile>
  <mat-grid-tile>
    <mat-chip-list aria-label="Certificate type selection" >
      <mat-chip (click)="onChipClick('ROOT')" [selected]="selectedFilter == 'ROOT'">
        <mat-chip-avatar>
          <img src="../../../../assets/lock-24.png" alt="Root certificate"/>
        </mat-chip-avatar>
        Root
      </mat-chip>
      <mat-chip (click)="onChipClick('INTERMEDIATE')" [selected]="selectedFilter == 'INTERMEDIATE'">
        <mat-chip-avatar>
          <img src="../../../../assets/pencil-24.png" alt="CA certificate"/>
        </mat-chip-avatar>
        Intermediate
      </mat-chip>
      <mat-chip (click)="onChipClick('END_ENTITY')" [selected]="selectedFilter == 'END_ENTITY'">
        <mat-chip-avatar>
          <img src="../../../../assets/certificate-24.png" alt="End certificate"/>
        </mat-chip-avatar>
        End entity
      </mat-chip>
    </mat-chip-list>
  </mat-grid-tile>


</mat-grid-list>

