.search-bar{
  display: grid;
  grid-auto-columns: auto;
  justify-items: stretch;
  grid-auto-flow: column;
  padding: 0 125px;
}

mat-chip{
  padding: 1.5em!important;
}

mat-chip-list{
  grid-column: 2
}
.mat-form-field{
  width: 100%;
  padding: 0 .75em 0 .75em!important;
}

mat-grid-list{
  height: min-content;
  margin: 0 100px;
}
