<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <img  class="logo" src="assets/logo-white.png"  alt="Welcome image" (click)="hideLogIn()">
    <span class="separator"></span>
    <div class="button-container">
      <button mat-raised-button class="mat-accent" routerLink="/login" *ngIf="isButtonVisible" (click)="onLogIn()">Log
        In
      </button>
      <button mat-stroked-button class="mat-accent" *ngIf="loggedInUser"
              routerLink="/new">
        New certificate
      </button>
      <button mat-icon-button class="mat-accent" *ngIf="loggedInUser"
              (click)="onLogOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
