<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <img  class="logo" src="assets/logo-white.png"  alt="Logo image" routerLink="/" *ngIf="!this.loggedInUser"
          (click)="changeButtonVisibility()">
    <img class="logo" src="assets/logo-white.png" alt="Logo image" routerLink="/overview" *ngIf="this.loggedInUser">
    <span class="separator"></span>
    <div class="button-container">
      <button mat-raised-button class="mat-accent" routerLink="/login" *ngIf="isButtonVisible && !this.loggedInUser" >Log
        In
      </button>
      <button mat-raised-button class="mat-accent" routerLink="/register" *ngIf="!isButtonVisible && !this.loggedInUser">Register
      </button>
      <a href="/change-password" style="color: rgb(199, 212, 224); font-weight: 400; font-size: 13px; padding: 5px; text-decoration: none;">Change password</a>
      <button mat-stroked-button class="mat-accent" *ngIf="loggedInUser && loggedInUser != 'ROLE_USER'"
              routerLink="/new" >
        New certificate
      </button>
      <button mat-icon-button class="mat-accent" *ngIf="loggedInUser"
              (click)="onLogOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
